table {
  border-collapse: collapse;

  thead {
    border-bottom: 2px solid #16325c;
    td {
      padding: .5em 0;
      font-weight: bold;
      color: #16325c;
    }
  }

  tbody {
    tr {

      &:hover {
        background: #fdfdd7;
        cursor: default;
      }

      td {
        padding: .5em 0;
        color: #5876a3;
      }

      td:first-of-type {
        font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
        padding-right: 4em;
      }

    }
  }
}
